<div class="row">
  <div class="col-sm-12">
    <form class="form">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" #name />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" #amount />
        </div>
        <div class="col-sm-12 form-group">
          <button class="btn btn-success" (click)="onAddItem()">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-info">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
